# ===============================
# Node & NPM
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Cypress
# ===============================
cypress/videos/
cypress/screenshots/
.cypress/
.cache/

# ===============================
# Reports
# ===============================
reports/
mochawesome-report/
mochawesome.html

# ===============================
# Environment & Secrets
# ===============================
.env
.env.*
cypress.env.json

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Coverage (if added later)
# ===============================
coverage/

# ===============================
# Logs
# ===============================
logs/
*.log
